@if (!posSession()) {
  <div
    class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
    role="alert">
    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
         viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">¡Advertencia!</span> Apertura la caja para poder vender.
    </div>
  </div>
}

<div [ngClass]="{'opacity-50 pointer-events-none select-none': !posSession()}"
     class="grid grid-cols-2 gap-2">
  <p-card header="Productos">
    <div class="flex justify-start items-center gap-2 mb-4">
      <button type="button" class="cursor-pointer" (click)="searchMode.set('favorite')">
        <p-chip label="Favoritos"
                [ngClass]="{ 'bg-primary-800! text-white!': searchMode() === 'favorite' }"/>
      </button>

      <button type="button" class="cursor-pointer" (click)="searchMode.set('product')">
        <p-chip label="Productos"
                [ngClass]="{ 'bg-primary-800! text-white!': searchMode() === 'product' }"/>
      </button>

      <button type="button" class="cursor-pointer" (click)="searchMode.set('category')">
        <p-chip label="Categorias"
                [ngClass]="{ 'bg-primary-800! text-white!': searchMode() === 'category' }"/>
      </button>
    </div>

    <div class="flex flex-col w-full">
      <div class="flex flex-col gap-1 mb-4">
        <p-auto-complete
          [formControl]="searchCtrl"
          [suggestions]="searchedProducts()"
          (completeMethod)="search($event)"
          (onSelect)="selectSkuProductFromAutocomplete($event)"
          optionLabel="name"
          optionValue="id"
          placeholder="Buscar productos, categorias y más"
          inputStyleClass="w-full"
          inputId="txtSearch"/>
      </div>

      @switch (searchMode()) {
        @case ('favorite') {
          <div class="grid grid-cols-4 gap-2">
            @for (item of favoriteItems(); track item.id) {
              <button type="button" (click)="selectProduct(item)"
                      class="border border-gray-300 p-2 cursor-pointer rounded hover:shadow h-24">
                <span class="text-base font-medium">{{ item.name }}</span>
              </button>
            }
          </div>
        }
        @case ('product') {
          <div class="flex flex-col gap-2 h-96 overflow-y-auto">
            @for (item of favoriteItems(); track item.id) {
              <div (click)="selectProduct(item)"
                class="cursor-pointer flex items-center gap-3 w-full px-4 py-3 rounded-xl border border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-700">

                <span class="flex-1 text-sm font-medium text-gray-700 dark:text-gray-200">
                  {{ item.name }}
                </span>

                  <span class="text-sm font-semibold text-gray-900 dark:text-white">
                  {{ item.sku.price | currency:'PEN':'S/ ' }}
                </span>
              </div>
            }
          </div>
        }
        @case ('category') {
          <span>Category</span>
        }
      }
    </div>
  </p-card>

  <p-card>
    <div class="flex flex-col gap-2">

      <div class="flex justify-between items-center gap-2">
        <input type="text" pInputText class="w-full" placeholder="Nueva cuenta">

        <div class="flex items-center justify-center">
          <button type="button" pButton text rounded>
            <i class="ti ti-user-circle text-2xl"></i>
          </button>

          <button type="button" pButton text rounded>
            <i class="ti ti-dots-vertical text-2xl"></i>
          </button>
        </div>
      </div>

      <div class="border border-gray-300 p-2.5 rounded-lg h-96">
        <div class="flex flex-col gap-2 overflow-y-auto">
          @for (item of selectedProducts(); track item.id; let index = $index) {
            <div class="flex justify-between items-center gap-2">
              <div class="flex flex-col gap-1">
                <span class="text-base font-medium">{{ item.name }}</span>
                <span>{{ item.sku.price | currency:'PEN':'S/' }}</span>
              </div>

              <div class="inline-flex gap-2">
                <p-input-number [showButtons]="true"
                                [(ngModel)]="item.qty"
                                buttonLayout="horizontal"
                                [min]="1"
                                [inputStyle]="{ width: '3rem' }">
                  <ng-template #incrementbuttonicon>
                    <span class="ti ti-plus"></span>
                  </ng-template>
                  <ng-template #decrementbuttonicon>
                    <span class="ti ti-minus"></span>
                  </ng-template>
                </p-input-number>

                <button type="button" pButton text rounded severity="danger" (click)="removeProductAt(index)">
                  <i class="ti ti-trash text-2xl"></i>
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      @if (selectedProducts() && selectedProducts().length > 0) {
        <div class="grid grid-cols-3 gap-2">
          <button type="button" pButton severity="success">
            <span class="text-xl font-medium">Guardar</span>
          </button>

          <button type="button" pButton class="col-span-2" (click)="openCashBoxDlg()">
            <span class="text-xl font-medium">Cobrar {{ totalPrice() | currency:'PEN':'S/ ' }}</span>
          </button>
        </div>
      }
    </div>
  </p-card>
</div>
