<div class="grid grid-cols-2 gap-2">
  <p-card header="Productos">
    <div class="flex justify-start items-center gap-2 mb-4">
      <button type="button" class="cursor-pointer">
        <p-chip label="Favoritos"
                class="bg-primary-800! text-white!"/>
      </button>

      <button type="button" class="cursor-pointer">
        <p-chip label="Productos"/>
      </button>

      <button type="button" class="cursor-pointer">
        <p-chip label="Categorias"/>
      </button>
    </div>

    <div class="flex flex-col w-full">
      <div class="flex flex-col gap-1 mb-4">
        <p-auto-complete
          [formControl]="searchCtrl"
          [suggestions]="searchedSkuProducts()"
          (completeMethod)="search($event)"
          (onSelect)="selectSkuProductFromAutocomplete($event)"
          optionLabel="name"
          optionValue="id"
          placeholder="Buscar productos, categorias y más"
          inputStyleClass="w-full"
          inputId="txtSearch"/>
      </div>

      <div class="grid grid-cols-4 gap-2">
        @for (item of favoriteItems(); track item.id) {
          <button type="button" (click)="selectSkuProduct(item)"
                  class="border border-gray-300 p-2 cursor-pointer rounded hover:shadow h-24">
            <span class="text-base font-medium">{{ item.name }}</span>
          </button>
        }
      </div>
    </div>
  </p-card>

  <p-card header="Venta">
    <div class="flex flex-col gap-2">
      <div class="border border-gray-300 p-2 rounded-lg bg-gray-100">
        <div class="flex justify-between items-center gap-2">
          <button type="button" class="flex items-center justify-center gap-2 cursor-pointer">
            <i class="ti ti-user-circle text-4xl"></i>
            <span class="text-lg font-medium">Agregar cliente</span>
          </button>

          <button type="button" pButton text rounded>
            <i class="ti ti-dots-vertical text-xl"></i>
          </button>
        </div>
      </div>

      <div class="border border-gray-300 p-2.5 rounded-lg h-96">
        <div class="flex flex-col gap-2 overflow-y-auto">
          @for (item of selectedSkuProducts(); track item.id) {
            <div class="flex justify-between items-center gap-2">
              <div class="flex flex-col gap-1">
                <span class="text-base font-medium">{{ item.name }}</span>
                <span>{{ item.salePrice | currency:'PEN':'S/' }}</span>
              </div>

              <p-input-number [showButtons]="true"
                              buttonLayout="horizontal"
                              [inputStyle]="{ width: '3rem' }">
                <ng-template #incrementbuttonicon>
                  <span class="ti ti-plus"></span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                  <span class="ti ti-minus"></span>
                </ng-template>
              </p-input-number>
            </div>
          }
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <button type="button" pButton>
          <span class="text-xl font-medium">Cobrar 4 items</span>
        </button>
      </div>
    </div>
  </p-card>
</div>
